.about {
  position: relative;

  padding: 50px 0 110px 180px;
  max-width: 1170px;

  &::before {
    @include pseudo(55px, -30px, 220px, 317px);

    background-image: url("../img/about-company@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-company@2x.png");
    }
  }
}

.about h2 {
  @include list-reset;
  margin-bottom: 21px;

  @include section-title;
  color: $font-gray;
}

.about p {
  @include list-reset;
  max-width: 98%;

  &:not(:last-of-type) {
    margin-bottom: 22px;
  }

  color: $font-gray;
}

.about__button {
  margin-top: 40px;
}

@media (max-width: $tablet-width) {
  .about {
    padding: 26px 0 83px 186px;

    &::before {
      top: 25px;
      left: -35px;

      width: 251px;
      height: 362px;
    }
  }

  .about h2 {
    margin-bottom: 25px;
  }

  .about p {
    max-width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 21px;
    }
  }

  .about span {
    display: none;
  }

  .about__button {
    margin-top: 43px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding: 28px 0 65px;

    &::before {
      background-image: none;
    }
  }

  .about h2 {
    margin-bottom: 21px;
  }

  .about p {
    &:not(:last-of-type) {
      margin-bottom: 43px;
    }
  }

  .about__button {
    margin-top: 30px;
  }
}
