.accordion__button {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .accordion__item {
    position: relative;
  }

  .accordion__button {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 73px;

    background-color: transparent;
    border: none;

    &:active {
      background-color: rgba($dark-bluish-gray, 0.1);
    }

    &::before {
      @include pseudo(35px, auto, 16px, 1px);
      right: 17px;

      background-color: #c4c4c4;
    }

    &::after {
      @include pseudo(35px, auto, 16px, 1px);
      right: 17px;

      background-color: #c4c4c4;

      transform: rotate(90deg);
    }
  }

  .accordion__item--active .accordion__button {
    &::after {
      display: none;
    }
  }

  .accordion__panel {
    display: none;
  }

  .accordion__item--active .accordion__panel {
    display: block;
  }

  .accordion__item--nojs .accordion__button {
    display: none;
  }

  .accordion__item--nojs .accordion__panel {
    display: block;
  }
}
