.button {
  display: block;
  padding: 14px 13px 14px 11px;
  width: 180px;

  font-family: $second-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;

  background-color: transparent;
  border-radius: 5px;

  cursor: pointer;

  &--call-back {
    border: 1px solid $bg-white;

    &:hover {
      background-color: $bg-blue;
    }

    &:active {
      background-color: rgba($bg-blue, 0.8);
    }
  }

  &--consult {
    width: 407px;
    padding: 16px 28px 18px;

    font-size: inherit;
    line-height: 1.19;

    background-color: $bg-blue;
    border: 1px solid $bg-blue;

    &:hover {
      background-color: $bg-dark;
      border: 1px solid $bg-white;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &--more-details {
    padding-top: 14px;
    padding-bottom: 14px;

    color: $font-blue;

    background-color: $white;
    border: 1px solid $bg-blue;

    &:hover {
      background-color: $bg-blue;
      color: $font-white;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &--feedback {
    padding-top: 13px;
    width: 270px;

    border: 1px solid $bg-white;

    &:hover {
      color: $font-blue;
      background-color: $bg-white;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &--modal {
    width: 100%;
    padding-bottom: 15px;

    border: 1px solid $bg-white;

    &:hover {
      background-color: $bg-white;
      color: $font-blue;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

@media (max-width: $tablet-width) {
  .button {
    &--consult {
      width: 379px;
    }

    &--feedback {
      padding-bottom: 15px;
      width: 280px;
    }
  }
}

@media (max-width: $mobile-width) {
  .button {
    &--consult {
      width: 100%;
    }

    &--feedback {
      padding-bottom: 16px;
    }
  }
}
