.catalog {
  background-color: $bg-dark;
}

.catalog__inner {
  max-width: 1170px;
  padding-top: 90px;
  padding-bottom: 97px;
}

.catalog__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  z-index: 2;

  min-height: 620px;
  width: 31.6%;
  margin-bottom: 30px;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  background-color: $bg-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    @include pseudo(0, 0, 100%, 100%);
    z-index: -1;

    background-color: $bg-dark;
    opacity: 0.8;
  }

  &--production {
    background-image: url("../img/production-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/production-desktop@2x.jpg");
    }
  }

  &--assembly {
    background-image: url("../img/assembly-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/assembly-desktop@2x.jpg");
    }
  }

  &--components {
    background-image: url("../img/components-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/components-desktop@2x.jpg");
    }
  }

  &:hover {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    background-size: 110% auto;
  }
}

.catalog h2 {
  margin: 0;
  margin-bottom: 51px;

  @include section-title;
}

.catalog__link {
  display: block;
  height: 100%;

  color: inherit;

  &::before {
    @include pseudo(auto, auto, 63px, 63px);
    bottom: 0;
    right: 0;

    background-color: $bg-blue;
  }

  &::after {
    @include pseudo (auto, auto, 6px, 6px);
    bottom: 28px;
    right: 27px;

    border-top: 2px solid $bg-white;
    border-right: 2px solid$bg-white;
    transform: rotate(45deg);
  }
}

.catalog__item h3 {
  margin: 0;
  max-width: 58%;
  padding: 51px 0 52px 44px;

  font-family: $second-font;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: $tablet-width) {
  .catalog__inner {
    padding-top: 50px;
    padding-bottom: 78px;
  }

  .catalog h2 {
    max-width: 85%;
    margin-bottom: 50px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__item {
    width: 100%;
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 46px;
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--production {
      background-image: url("../img/production-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/production-tablet@2x.jpg");
      }
    }

    &--assembly {
      background-image: url("../img/assembly-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/assembly-tablet@2x.jpg");
      }
    }

    &--components {
      background-image: url("../img/components-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/components-tablet@2x.jpg");
      }
    }
  }

  .catalog__item h3 {
    padding-top: 40px;
    max-width: 30%;
  }

  .catalog__item--components h3 {
    padding-top: 50px;
  }
}

@media (max-width: $mobile-width) {
  .catalog__inner {
    padding-bottom: 63px;
    padding-top: 51px;
  }

  .catalog h2 {
    max-width: 100%;
    margin-bottom: 42px;
    padding-left: 10px;
  }

  .catalog__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    &--production {
      background-image: url("../img/production-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/production-mobile@2x.jpg");
      }
    }

    &--assembly {
      background-image: url("../img/assembly-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/assembly-mobile@2x.jpg");
      }
    }

    &--components {
      background-image: url("../img/components-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/components-mobile@2x.jpg");
      }
    }
  }

  .catalog__item h3 {
    padding-top: 19px;
    padding-left: 35px;
    max-width: 70%;
  }

  .catalog__item--components h3 {
    padding-top: 29px;
  }

  .catalog__link {
    &::after {
      right: 30px;
    }
  }
}
