.features {
  width: calc(100% - 70px);
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 109px;
  padding-bottom: 55px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  padding: 39px 42px 68px;
  width: 48.68%;
  min-height: 299px;

  &:not(:nth-last-child(-n+2)) {
    margin-bottom: 29px;
  }

  &:not(:nth-child(2n)) {
    margin-right: 2.6%;
  }

  background-color: $bg-white;
  border: 1px solid #ebebeb;
  border-left: 3px solid $bg-blue;

  cursor: pointer;

  &:hover {
    background-color: $bg-blue;
    border-color: $bg-blue;

    > .features__icon path {
      fill: $bg-white;
    }

    > h3,
    p {
      color: $font-white;
    }
  }

  &--detective {
    padding-top: 44px;
  }
}

.features h3 {
  margin: 0;
  margin-bottom: 16px;

  font-family: $second-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.42;
  color: $font-blue;
}

.features p {
  margin: 0;

  color: $font-gray;
}

.features__icon {
  margin-bottom: 15px;
}

@media (max-width: $tablet-width) {
  .features {
    width: calc(100% - 50px);
    padding-top: 54px;
    padding-bottom: 30px;
  }

  .features__item {
    display: flex;
    flex-direction: column;
    padding: 24px 21px 25px 23px;
    width: 48%;
    min-height: 232px;

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 30px;
    }

    &:not(:nth-child(2n)) {
      margin-right: 4%;
    }
  }

  .features h3 {
    margin-bottom: 9px;
  }

  .features__icon {
    margin-bottom: 7px;

    &--hired,
    &--tag {
      width: 32px;
      height: 33px;
    }

    &--detective {
      margin-bottom: 14px;
      width: 30px;
      height: 26px;
    }
  }
}

@media (max-width: $mobile-width) {
  .features {
    padding-top: 37px;
    width: calc(100% - 30px);
    min-height: auto;
  }

  .features__item {
    padding-top: 24px;
    padding-bottom: 24.5px;
    padding-right: 10px;
    margin-bottom: 0;
    width: 100%;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:first-child {
      max-width: 95%;
    }
  }

  .features h3 {
    margin-bottom: 10px;
    max-width: 95%;

    font-size: 20px;
    line-height: 1.4;
  }

  .features__icon {
    margin-bottom: 14px;
  }
}
