.feedback {
  background-color: $bg-blue;

  background-image: url("../img/paper-airplane@1x.png"), url("../img/form-triangular-bg.svg");
  background-position: calc(50% - 355px) 42%, calc(50% + 160px) 62%;
  background-size: 511px 288px, auto;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper-airplane@2x.png"), url("../img/form-triangular-bg.svg");
  }
}

.feedback__inner {
  padding-top: 92px;
  padding-bottom: 113px;
  max-width: 1170px;
}

.feedback__content {
  width: 571px;
  margin-left: auto;
}


.feedback__content h2 {
  margin: 0;
  margin-bottom: 10px;

  @include section-title;
}

.feedback__content p {
  margin: 0;
  margin-bottom: 51px;
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__field input,
.feedback__field textarea {
  font-family: inherit;
  font-size: inherit;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;

  color: $font-white;
  line-height: 1.35;

  &::placeholder {
    color: $font-white;
  }
}

.feedback__field input {
  padding: 13px 18px 16px;
  margin-bottom: 39px;
  width: 270px;

  &::-ms-clear {
    display: none;   // убирает нативный крестик в поле ввода IE11
  }
}

.feedback__field textarea {
  padding: 12px 18px;
  margin-bottom: 40px;
  width: 100%;
  height: 154px;

  resize: none;
  overflow: auto;   // убирает полосу прокрутки textarea в IE11
}

.feedback__checkbox {
  position: relative;

  display: flex;
  width: 262px;
}

.feedback__checkbox label {
  display: block;
  padding-left: 32px;

  font-size: 14px;
  line-height: 1.12;

  color: rgba($font-white, 0.8);
}

.feedback__checkbox input + label::before {
  @include pseudo(2px, 0, 16px, 16px);

  border: 1px solid $bg-white;

  cursor: pointer;
}

.feedback__checkbox input:checked + label::before {
  @include pseudo(2px, 0, 16px, 16px);

  border: 1px solid $bg-white;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 3px 4px;

  cursor: pointer;
}

.feedback__checkbox input:focus + label::before {
  outline: 1px solid black;
  //outline: 1px auto -webkit-focus-ring-color;
}

.feedback__checkbox input:checked:focus + label::before {
  outline: 1px solid black;
  //outline: 1px auto -webkit-focus-ring-color;
}

.feedback input:hover,
.feedback textarea:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.feedback__checkbox input:hover + label {
  color: rgba(255, 255, 255, 1);
}

.feedback__checkbox input:hover + label::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.feedback__checkbox input:checked:hover + label::before {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
  }

  .feedback__inner {
    padding-top: 80px;
    padding-bottom: 103px;
    padding-left: 5px;

    &::before {
      display: none;
    }
  }

  .feedback__content {
    width: 591px;
    margin: 0 auto;
  }

  .feedback__content h2 {
    margin-bottom: 15px;
    margin-left: -4px;
  }

  .feedback p {
    margin-bottom: 54px;
  }

  .feedback__field input {
    padding-bottom: 19px;
    padding-top: 12px;
    margin-bottom: 40px;
    width: 280px;
  }

  .feedback__field textarea {
    margin-bottom: 41px;
    padding-top: 12px;
    height: 160px;
  }

  .feedback__checkbox {
    width: 272px;
  }

  .feedback__checkbox label {
    padding-left: 34px;
  }
}

@media (max-width: $mobile-width) {
  .feedback__inner {
    padding-top: 29px;
    padding-bottom: 44px;
    padding-left: 0;
  }

  .feedback__wrapper {
    flex-direction: column;
  }

  .feedback__content {
    width: 100%;
    max-width: 450px;
  }

  .feedback__content h2 {
    margin-bottom: 13px;
    margin-left: 0;
  }

  .feedback__content p {
    margin-bottom: 26px;
  }

  .feedback__field {
    width: 100%;
  }

  .feedback__field input {
    margin-bottom: 29px;
    width: 100%;
  }

  .feedback__field textarea {
    margin-bottom: 27px;
    padding-top: 12px;
    height: 104px;
  }

  .feedback__button {
    margin-top: 0;
    margin-bottom: 31px;
  }

  .feedback__checkbox {
    margin-top: -1px;
    width: 100%;
  }
}
