.header-contacts {
  position: relative;

  display: flex;
  width: 77.5%;

  fill: $bg-blue;
}

.header-contacts__img {
  position: relative;

  width: 37px;
  height: 13px;
}

.header-contacts__list {
  @include list-reset;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 76.9%;
}

.header-contacts__item {
  padding: 14px;
  padding-top: 12px;

  line-height: 1.13;

  &:not(:first-child) {
    margin-left: 7.3%;
  }
}

.header-contacts__link {
  color: inherit;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: rgba($bg-blue, 0.8);

    > svg path {
      fill: rgba($bg-blue, 0.8);
    }
  }
}

.header-contacts__link span {
  display: inline-block;
  vertical-align: middle;
}

.header-contacts__link--envelope svg {
  margin-right: 10px;
  margin-bottom: -3px;
}

.header-contacts__link--phone svg {
  margin-right: 7px;
  margin-bottom: -5px;
}

.header-contacts__button {
  margin-left: 3.2%;
  margin-top: 5px;
  margin-bottom: auto;
}

@media (max-width: $tablet-width) {
  .header-contacts {
    justify-content: flex-end;
    width: 70%;
  }

  .header-contacts__img {
    height: 17px;
    margin-right: 7.5%;

    &::before {
      display: none;
    }
  }

  .header-contacts__list {
    justify-content: flex-end;
    width: auto;
  }

  .header-contacts__item {
    padding: 0;

    &:not(:first-child) {
      margin-left: 33px;
    }
  }

  .header-contacts__link {
    &:active {
      fill: $bg-white;
    }
  }

  .header-contacts__link span {
    display: none;
  }

  .header-contacts__link--envelope svg {
    width: 25px;
    height: 19px;
    margin: 0;
  }

  .header-contacts__link--phone svg {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .header-contacts__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header-contacts__item {
    &:not(:first-child) {
      margin-left: 23px;
    }
  }

  .header-contacts__img {
    margin-right: 13%;
  }
}
