.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 675px;
  width: 61.7%;
}


.header-contacts__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 68%;
}

.header-contacts__item {
  padding: 14px;

  line-height: 1.13;
}

.header-contacts__link {
  color: inherit;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: rgba($bg-blue, 0.8);

    path {
      fill: rgba($bg-blue, 0.8);
    }
  }
}

.header-contacts__text {
  display: inline-block;
  padding-bottom: 2px;
}

.header-contacts__icon {
  &--envelope {
    margin-right: 10px;
    margin-top: 4px;
  }

  &--phone {
    margin-right: 7px;
    margin-bottom: -4px;
  }
}

@media (max-width: $tablet-width) {
  .header-contacts {
    justify-content: flex-end;
    width: 70%;
    max-width: 100%;
    min-width: auto;
  }

  .header-contacts__list {
    justify-content: flex-end;
    width: 70%;
  }

  .header-contacts__item {
    padding: 0;

    &:not(:first-child) {
      margin-left: 33px;
    }
  }

  .header-contacts__text {
    display: none;
  }

  .header-contacts__icon {
    &--envelope {
      width: 25px;
      height: 19px;
      margin: 0;
    }

    &--phone {
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }

  .header-contacts__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .header-contacts__item {
    &:not(:first-child) {
      margin-left: 23px;
    }
  }
}
