.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77.5%;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 675px;
  //width: 61.5%;
}

.main-nav__toggle {
  position: relative;

  display: inline-block;
  padding: 14px;
  width: 37px;
  height: 13px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &::before {
    @include pseudo (8px, 0, 37px, 1px);

    background-color: $bg-white;
    box-shadow: 0 12px 0 0 $bg-white;
  }

  &:hover::before {
    background-color: $light-blue;
    box-shadow: 0 12px 0 0 $light-blue;
  }

  &:active::before {
    background-color: rgba($light-blue, 0.8);
    box-shadow: 0 12px 0 0 rgba($light-blue, 0.8);
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    width: 50%;
    justify-content: flex-end;
  }

  .main-nav__wrapper {
    width: auto;
  }

  .main-nav__call {
    display: none;
  }

  .main-nav__toggle {
    margin-right: 5px;

    &::before {
      top: 5px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    width: 70%;
  }
}
