.main-nav {
  width: 46%;

  color: rgba($font-dark, 0.5);
}

.main-nav h2 {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 3px;

  font-family: $second-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-nav__list {
  display: flex;
}

.main-nav__col {
  @include list-reset;
  min-width: 145px;

  &:not(:last-child) {
    margin-right: 16.2%;
  }

  &:last-child {
    letter-spacing: 0.03em;
  }
}

.main-nav__item {
  font-size: 15px;
  line-height: 1.67;
}

.main-nav__link {
  color: rgba($font-dark, 0.5);
}

@media (max-width: $tablet-width) {
  .main-nav {
    width: 40%;
  }

  .main-nav__list {
    flex-direction: column;
  }

  .main-nav__col {
    &:last-child {
      letter-spacing: normal;
    }
  }

  .main-nav h2 {
    margin-left: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    position: relative;

    width: 100%;
    padding-top: 29px;
    padding-bottom: 28px;

    &::before {
      @include pseudo-border-gray;
    }
  }

  .main-nav h2 {
    margin-bottom: 33px;
  }
}
