.page-header {
  background-color: $bg-dark;
  background-image: url("../img/header-bg-desktop@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.png");
  }
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  width: calc(100% - 70px);
  max-width: 1411px;
  min-height: 880px;
  margin: 0 auto;
  padding-bottom: 38px;
}

@media (max-width: $tablet-width) {
  .page-header {
    background-color: $bg-dark;
    background-image: url("../img/header-bg-tablet@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.png");
    }
  }

  .page-header__inner {
    width: calc(100% - 50px);
    min-height: 686px;
    padding-bottom: 27px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    background-color: $bg-dark;
    background-image: url("../img/header-bg-mobile@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.png");
    }
  }

  .page-header__inner {
    width: calc(100% - 32px);
    min-height: 647px;
    padding-bottom: 70px;
  }
}
