.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 118px;
}

.site-header__logo {
  margin-right: 45px;
}

.site-header__logo-img {
  display: block;
  width: 202px;
  height: 52px;
}

.site-header__logo-circuit {
  display: none;
}

@media (max-width: $tablet-width) {
  .site-header {
    min-height: 92px;
  }

  .site-header__logo {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .site-header {
    min-height: 72px;
  }

  .site-header__logo-img {
    display: block;
    width: 38px;
    height: 38px;
  }
}
