.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.socials__link svg {
  fill: #cdcdcd;
}

.socials__link:hover svg {
  fill: $bg-blue;
}

.socials__link:active {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .socials {
    margin-left: auto;
  }
}

@media (max-width: $mobile-width) {
  .socials {
    margin-left: 0;
  }
}
