.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.socials__link {
  fill: #cdcdcd;
}

.socials__link:hover {
  fill: $bg-blue;
}

.socials__link:active {
  opacity: 0.8;
}
