.wrapper {
  z-index: -1;
  min-height: 1113px;

  background-image: url("../img/features-triangular-bg.svg");
  background-position: center top 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: $tablet-width) {
  .wrapper {
    background-image: url("../img/features-polygon.svg");
    background-position: right top 58%;
    background-repeat: no-repeat;
    background-size: 520px auto;
  }
}

@media (max-width: $mobile-width) {
  .wrapper {
    background-image: none;
  }
}
