@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin pseudo ($top, $left, $width, $height) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}
