@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin pseudo ($top, $left, $width, $height) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin section-title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 1.42;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 1.41;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
  }
}

@mixin pseudo-border-gray {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 1px;
  margin-left: calc(50% - 50vw);
  background-color: $bg-gray;
}
